<%= form_with(model: preview) do |form| %>
  <div class="inline-form">
    <div>
      <%= form.label :url, "Enter a URL to preview its Open Graph image and title metadata" %>
      <%= form.text_field :url, style: "margin: 0 10px;" %>
    </div>

    <%= form.submit "Go", class: "success" %>
  </div>
<% end %>
