<% content_for :title, "Previews" %>

<div class="page-header">
  <h1>Previews</h1>
  <div class="header-form">
    <%= render "form", preview: @preview %>
  </div>
</div>

<div id="previews" >
  <% @previews.each do |preview| %>
      <%= render preview %>
  <% end %>
</div>
