<div id="flash" >
  <% if notice %>
    <p id="flash-notice" data-flash>
      <%= notice %>
    </p>
  <% end %>
  <% if alert %>
    <p id="flash-alert" data-flash>
      <%= alert %>
    </p>
  <% end %>
</div>
